@font-face {
    font-family:DS-Digital ;
    src:url("/Fonts/DS-DIGI.TTF");
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body{
    height: 100%;
    width: 100%;
}

.bg{
    height: 100%;
    width: 100%;
    background-color: #B0C4DE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square{
    height: 500px;
    width: 300px;
    background-color: #0a2351;
    border-radius: 10px;
    padding: 12px;
    
    box-shadow:
    1.9px 1.9px 1.5px rgba(0, 0, 0, 0.025),
    4.1px 4.1px 3.3px rgba(0, 0, 0, 0.04),
    6.9px 6.9px 5.5px rgba(0, 0, 0, 0.05),
    10.4px 10.4px 8.3px rgba(0, 0, 0, 0.059),
    15px 15px 11.9px rgba(0, 0, 0, 0.065),
    21.3px 21.3px 16.8px rgba(0, 0, 0, 0.071),
    30.2px 30.2px 23.9px rgba(0, 0, 0, 0.077),
    43.8px 43.8px 34.7px rgba(0, 0, 0, 0.084),
    67.5px 67.5px 53.4px rgba(0, 0, 0, 0.095),
    120px 120px 95px rgba(0, 0, 0, 0.12)
  ;
}

.display{
    height: 100px;
    
    
    border: 5px solid white;
    border-radius: 10px;
    

}

.button-containor{
    height: 364px;
    background-color: #00416A;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
   
    
    
   
}

input[type="text"]{
    height: 90px;
    width: 100%;
    border: none;
    font-family: DS-Digital;
    font-size: 50px;
    padding: 10px;
    letter-spacing: 10px;


    
}

input[type=button] {
height: 40px;
width: 60px;
margin-top: 25px;
background-color: white;
border-radius: 10px;
border: none;
margin-left: 1px;
    }
/* 
    button:hover{
        background-color: aquamarine;
    } */
    input[type=button]:hover {
background-color: rgba(255, 255, 255, 0.57);
cursor: pointer;
border-radius: 5px;
    }

    input[type=text]:hover {
        background-color: rgba(255, 255, 255, 0.477);
        cursor: default;
            }

        -0 PP"{}
        
